In [1]:
import pandas as pd
import numpy as np 
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

Using TensorFlow backend.

In [2]:
data = pd.read_csv(r'D:\Kaggle\train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
((data.isnull().sum())/len(data))*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [4]:
Age_mode = data['Age'].mode()
data['Age'].fillna(Age_mode[0],inplace = True)

In [5]:
Embarked_mode = data['Embarked'].mode()
data['Embarked'].fillna(Embarked_mode[0],inplace =True)

In [6]:
Embarked_mode

0    S
dtype: object

In [7]:
((data.isnull().sum())/len(data))*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.000000
dtype: float64

In [8]:
from sklearn.preprocessing import LabelEncoder
sex_le = LabelEncoder().fit(data['Sex'])
Embarked_le = LabelEncoder().fit(data['Embarked'])

In [9]:
data['Sex'] = sex_le.transform(data['Sex'])
data['Embarked'] = Embarked_le.transform(data['Embarked'])

In [10]:
x = data.drop(['Survived','PassengerId','Cabin','Ticket','Name'],axis=1)
y= data['Survived']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_valid,y_train,y_valid = train_test_split(x,y,test_size=0.2,random_state= 42)

In [13]:
from sklearn.preprocessing import StandardScaler
model_scale = StandardScaler().fit(x_train)
x_train=model_scale.transform(x_train)
x_valid=model_scale.transform(x_valid)

In [14]:
print(x.head()),print(y.head())

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

(None, None)

In [15]:
import tensorflow as tf
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Conv1D, MaxPooling1D
from keras.layers import Activation, Dropout, Flatten, Dense

In [23]:
titanic = tf.keras.models.Sequential([ 
    tf.keras.layers.Dense(15, input_dim = 7,activation = tf.nn.relu),
    tf.keras.layers.Dense(25,activation = tf.nn.relu),
    tf.keras.layers.Dense(150,activation = tf.nn.relu),
    tf.keras.layers.Dense(150,activation = tf.nn.relu),
    tf.keras.layers.Dense(50,activation = tf.nn.relu),
    tf.keras.layers.Dense(1,activation = tf.nn.sigmoid)
])
titanic.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 15)                120
_________________________________________________________________
dense_7 (Dense)              (None, 25)                400
_________________________________________________________________
dense_8 (Dense)              (None, 150)               3900
_________________________________________________________________
dense_9 (Dense)              (None, 150)               22650
_________________________________________________________________
dense_10 (Dense)             (None, 50)                7550
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 51
=================================================================
Total params: 34,671
Trainable params: 34,671
Non-trainable params: 0
_________________________________________________________________

In [40]:
titanic.compile(optimizer='adam',loss= 'binary_crossentropy',metrics=['accuracy'])
titanic.fit(x_train,y_train,validation_data=(x_valid,y_valid) ,epochs=100,batch_size=50)# batch_size=100

Train on 712 samples, validate on 179 samples
Epoch 1/100
712/712 [==============================] - 2s 2ms/step - loss: 0.1567 - acc: 0.9298 - val_loss: 1.3170 - val_acc: 0.8156
Epoch 2/100
712/712 [==============================] - 0s 128us/step - loss: 0.1436 - acc: 0.9424 - val_loss: 1.3328 - val_acc: 0.8212
Epoch 3/100
712/712 [==============================] - 0s 131us/step - loss: 0.1440 - acc: 0.9438 - val_loss: 1.2954 - val_acc: 0.8380
Epoch 4/100
712/712 [==============================] - 0s 132us/step - loss: 0.1348 - acc: 0.9396 - val_loss: 1.3594 - val_acc: 0.8324
Epoch 5/100
712/712 [==============================] - 0s 160us/step - loss: 0.1338 - acc: 0.9396 - val_loss: 1.3850 - val_acc: 0.8268
Epoch 6/100
712/712 [==============================] - 0s 145us/step - loss: 0.1360 - acc: 0.9410 - val_loss: 1.4004 - val_acc: 0.8268
Epoch 7/100
712/712 [==============================] - 0s 146us/step - loss: 0.1406 - acc: 0.9382 - val_loss: 1.3912 - val_acc: 0.8101
Epoch 8/100
712/712 [==============================] - 0s 153us/step - loss: 0.1351 - acc: 0.9410 - val_loss: 1.4221 - val_acc: 0.8268
Epoch 9/100
712/712 [==============================] - 0s 124us/step - loss: 0.1339 - acc: 0.9452 - val_loss: 1.3571 - val_acc: 0.8324
Epoch 10/100
712/712 [==============================] - 0s 156us/step - loss: 0.1327 - acc: 0.9424 - val_loss: 1.3929 - val_acc: 0.8324
Epoch 11/100
712/712 [==============================] - 0s 175us/step - loss: 0.1312 - acc: 0.9438 - val_loss: 1.4307 - val_acc: 0.8156
Epoch 12/100
712/712 [==============================] - 0s 136us/step - loss: 0.1343 - acc: 0.9452 - val_loss: 1.4371 - val_acc: 0.8268
Epoch 13/100
712/712 [==============================] - 0s 145us/step - loss: 0.1342 - acc: 0.9410 - val_loss: 1.4385 - val_acc: 0.8212
Epoch 14/100
712/712 [==============================] - 0s 138us/step - loss: 0.1311 - acc: 0.9438 - val_loss: 1.4196 - val_acc: 0.8324
Epoch 15/100
712/712 [==============================] - 0s 139us/step - loss: 0.1413 - acc: 0.9410 - val_loss: 1.3962 - val_acc: 0.8101
Epoch 16/100
712/712 [==============================] - 0s 156us/step - loss: 0.1382 - acc: 0.9368 - val_loss: 1.4793 - val_acc: 0.8324
Epoch 17/100
712/712 [==============================] - 0s 122us/step - loss: 0.1416 - acc: 0.9382 - val_loss: 1.4032 - val_acc: 0.8101
Epoch 18/100
712/712 [==============================] - 0s 156us/step - loss: 0.1575 - acc: 0.9382 - val_loss: 1.4347 - val_acc: 0.8380
Epoch 19/100
712/712 [==============================] - 0s 161us/step - loss: 0.1461 - acc: 0.9368 - val_loss: 1.4057 - val_acc: 0.8268
Epoch 20/100
712/712 [==============================] - 0s 145us/step - loss: 0.1420 - acc: 0.9354 - val_loss: 1.3989 - val_acc: 0.8268
Epoch 21/100
712/712 [==============================] - 0s 131us/step - loss: 0.1469 - acc: 0.9382 - val_loss: 1.4472 - val_acc: 0.8324
Epoch 22/100
712/712 [==============================] - 0s 136us/step - loss: 0.1434 - acc: 0.9354 - val_loss: 1.3635 - val_acc: 0.8436
Epoch 23/100
712/712 [==============================] - 0s 150us/step - loss: 0.1337 - acc: 0.9382 - val_loss: 1.4242 - val_acc: 0.8268
Epoch 24/100
712/712 [==============================] - 0s 143us/step - loss: 0.1306 - acc: 0.9410 - val_loss: 1.4554 - val_acc: 0.8268
Epoch 25/100
712/712 [==============================] - 0s 121us/step - loss: 0.1307 - acc: 0.9452 - val_loss: 1.4544 - val_acc: 0.8212
Epoch 26/100
712/712 [==============================] - 0s 164us/step - loss: 0.1278 - acc: 0.9368 - val_loss: 1.4608 - val_acc: 0.8380
Epoch 27/100
712/712 [==============================] - 0s 126us/step - loss: 0.1290 - acc: 0.9452 - val_loss: 1.4248 - val_acc: 0.8156
Epoch 28/100
712/712 [==============================] - 0s 142us/step - loss: 0.1368 - acc: 0.9438 - val_loss: 1.4352 - val_acc: 0.8045
Epoch 29/100
712/712 [==============================] - 0s 131us/step - loss: 0.1479 - acc: 0.9438 - val_loss: 1.3628 - val_acc: 0.8324
Epoch 30/100
712/712 [==============================] - 0s 153us/step - loss: 0.1750 - acc: 0.9340 - val_loss: 1.3058 - val_acc: 0.8101
Epoch 31/100
712/712 [==============================] - 0s 152us/step - loss: 0.1523 - acc: 0.9396 - val_loss: 1.3149 - val_acc: 0.8268
Epoch 32/100
712/712 [==============================] - 0s 154us/step - loss: 0.1437 - acc: 0.9396 - val_loss: 1.3484 - val_acc: 0.8212
Epoch 33/100
712/712 [==============================] - 0s 129us/step - loss: 0.1388 - acc: 0.9452 - val_loss: 1.3285 - val_acc: 0.8156
Epoch 34/100
712/712 [==============================] - 0s 154us/step - loss: 0.1367 - acc: 0.9438 - val_loss: 1.3974 - val_acc: 0.8212
Epoch 35/100
712/712 [==============================] - 0s 149us/step - loss: 0.1329 - acc: 0.9410 - val_loss: 1.3891 - val_acc: 0.8436
Epoch 36/100
712/712 [==============================] - 0s 126us/step - loss: 0.1567 - acc: 0.9410 - val_loss: 1.3177 - val_acc: 0.8156
Epoch 37/100
712/712 [==============================] - 0s 136us/step - loss: 0.1593 - acc: 0.9340 - val_loss: 1.2773 - val_acc: 0.8380
Epoch 38/100
712/712 [==============================] - 0s 156us/step - loss: 0.1537 - acc: 0.9382 - val_loss: 1.3334 - val_acc: 0.8380
Epoch 39/100
712/712 [==============================] - 0s 129us/step - loss: 0.1616 - acc: 0.9270 - val_loss: 1.3081 - val_acc: 0.8268
Epoch 40/100
712/712 [==============================] - 0s 164us/step - loss: 0.1394 - acc: 0.9368 - val_loss: 1.3379 - val_acc: 0.8212
Epoch 41/100
712/712 [==============================] - 0s 136us/step - loss: 0.1361 - acc: 0.9424 - val_loss: 1.3389 - val_acc: 0.8380
Epoch 42/100
712/712 [==============================] - 0s 122us/step - loss: 0.1288 - acc: 0.9508 - val_loss: 1.3093 - val_acc: 0.8324
Epoch 43/100
712/712 [==============================] - 0s 160us/step - loss: 0.1280 - acc: 0.9466 - val_loss: 1.3335 - val_acc: 0.8268
Epoch 44/100
712/712 [==============================] - 0s 138us/step - loss: 0.1272 - acc: 0.9424 - val_loss: 1.3174 - val_acc: 0.8101
Epoch 45/100
712/712 [==============================] - 0s 159us/step - loss: 0.1267 - acc: 0.9382 - val_loss: 1.3578 - val_acc: 0.8268
Epoch 46/100
712/712 [==============================] - 0s 142us/step - loss: 0.1348 - acc: 0.9424 - val_loss: 1.3768 - val_acc: 0.8324
Epoch 47/100
712/712 [==============================] - 0s 135us/step - loss: 0.1330 - acc: 0.9466 - val_loss: 1.4045 - val_acc: 0.8156
Epoch 48/100
712/712 [==============================] - 0s 156us/step - loss: 0.1358 - acc: 0.9410 - val_loss: 1.4254 - val_acc: 0.8212
Epoch 49/100
712/712 [==============================] - 0s 128us/step - loss: 0.1416 - acc: 0.9410 - val_loss: 1.4259 - val_acc: 0.8268
Epoch 50/100
712/712 [==============================] - 0s 145us/step - loss: 0.1540 - acc: 0.9424 - val_loss: 1.3435 - val_acc: 0.8212
Epoch 51/100
712/712 [==============================] - 0s 157us/step - loss: 0.1763 - acc: 0.9312 - val_loss: 1.3030 - val_acc: 0.8212
Epoch 52/100
712/712 [==============================] - 0s 154us/step - loss: 0.1614 - acc: 0.9284 - val_loss: 1.3196 - val_acc: 0.8380
Epoch 53/100
712/712 [==============================] - 0s 150us/step - loss: 0.1393 - acc: 0.9438 - val_loss: 1.3730 - val_acc: 0.8324
Epoch 54/100
712/712 [==============================] - 0s 195us/step - loss: 0.1286 - acc: 0.9480 - val_loss: 1.3980 - val_acc: 0.8212
Epoch 55/100
712/712 [==============================] - 0s 164us/step - loss: 0.1284 - acc: 0.9424 - val_loss: 1.3777 - val_acc: 0.8101
Epoch 56/100
712/712 [==============================] - 0s 150us/step - loss: 0.1247 - acc: 0.9452 - val_loss: 1.3892 - val_acc: 0.8268
Epoch 57/100
712/712 [==============================] - 0s 143us/step - loss: 0.1260 - acc: 0.9508 - val_loss: 1.4052 - val_acc: 0.8212
Epoch 58/100
712/712 [==============================] - 0s 164us/step - loss: 0.1288 - acc: 0.9438 - val_loss: 1.3995 - val_acc: 0.8324
Epoch 59/100
712/712 [==============================] - 0s 145us/step - loss: 0.1397 - acc: 0.9396 - val_loss: 1.3832 - val_acc: 0.8380
Epoch 60/100
712/712 [==============================] - 0s 147us/step - loss: 0.1420 - acc: 0.9396 - val_loss: 1.4190 - val_acc: 0.8324

Epoch 61/100
712/712 [==============================] - 0s 152us/step - loss: 0.1317 - acc: 0.9494 - val_loss: 1.3727 - val_acc: 0.8212
Epoch 62/100
712/712 [==============================] - 0s 133us/step - loss: 0.1323 - acc: 0.9410 - val_loss: 1.4011 - val_acc: 0.8212
Epoch 63/100
712/712 [==============================] - 0s 135us/step - loss: 0.1312 - acc: 0.9438 - val_loss: 1.4288 - val_acc: 0.8324
Epoch 64/100
712/712 [==============================] - 0s 122us/step - loss: 0.1336 - acc: 0.9452 - val_loss: 1.4184 - val_acc: 0.8212
Epoch 65/100
712/712 [==============================] - 0s 138us/step - loss: 0.1329 - acc: 0.9382 - val_loss: 1.3890 - val_acc: 0.8268
Epoch 66/100
712/712 [==============================] - 0s 136us/step - loss: 0.1341 - acc: 0.9452 - val_loss: 1.3796 - val_acc: 0.8324
Epoch 67/100
712/712 [==============================] - 0s 122us/step - loss: 0.1348 - acc: 0.9438 - val_loss: 1.3984 - val_acc: 0.8268
Epoch 68/100
712/712 [==============================] - 0s 138us/step - loss: 0.1292 - acc: 0.9480 - val_loss: 1.4140 - val_acc: 0.8268
Epoch 69/100
712/712 [==============================] - 0s 133us/step - loss: 0.1369 - acc: 0.9410 - val_loss: 1.4391 - val_acc: 0.8268
Epoch 70/100
712/712 [==============================] - 0s 154us/step - loss: 0.1304 - acc: 0.9424 - val_loss: 1.4187 - val_acc: 0.8212
Epoch 71/100
712/712 [==============================] - 0s 156us/step - loss: 0.1237 - acc: 0.9452 - val_loss: 1.4359 - val_acc: 0.8212
Epoch 72/100
712/712 [==============================] - 0s 128us/step - loss: 0.1266 - acc: 0.9410 - val_loss: 1.4148 - val_acc: 0.8268
Epoch 73/100
712/712 [==============================] - 0s 154us/step - loss: 0.1227 - acc: 0.9424 - val_loss: 1.4485 - val_acc: 0.8268
Epoch 74/100
712/712 [==============================] - 0s 125us/step - loss: 0.1192 - acc: 0.9508 - val_loss: 1.4431 - val_acc: 0.8324
Epoch 75/100
712/712 [==============================] - 0s 138us/step - loss: 0.1255 - acc: 0.9494 - val_loss: 1.4747 - val_acc: 0.8380
Epoch 76/100
712/712 [==============================] - 0s 138us/step - loss: 0.1272 - acc: 0.9424 - val_loss: 1.4615 - val_acc: 0.8212
Epoch 77/100
712/712 [==============================] - 0s 139us/step - loss: 0.1335 - acc: 0.9410 - val_loss: 1.4296 - val_acc: 0.8212
Epoch 78/100
712/712 [==============================] - 0s 145us/step - loss: 0.1510 - acc: 0.9340 - val_loss: 1.4389 - val_acc: 0.8324
Epoch 79/100
712/712 [==============================] - 0s 136us/step - loss: 0.1535 - acc: 0.9368 - val_loss: 1.4269 - val_acc: 0.8156
Epoch 80/100
712/712 [==============================] - 0s 121us/step - loss: 0.1731 - acc: 0.9312 - val_loss: 1.2811 - val_acc: 0.8380
Epoch 81/100
712/712 [==============================] - 0s 129us/step - loss: 0.2076 - acc: 0.9228 - val_loss: 1.2590 - val_acc: 0.7989
Epoch 82/100
712/712 [==============================] - 0s 121us/step - loss: 0.1848 - acc: 0.9115 - val_loss: 1.3157 - val_acc: 0.8045
Epoch 83/100
712/712 [==============================] - 0s 117us/step - loss: 0.1629 - acc: 0.9270 - val_loss: 1.2124 - val_acc: 0.7989
Epoch 84/100
712/712 [==============================] - 0s 156us/step - loss: 0.1679 - acc: 0.9284 - val_loss: 1.2244 - val_acc: 0.8156
Epoch 85/100
712/712 [==============================] - 0s 147us/step - loss: 0.1561 - acc: 0.9354 - val_loss: 1.3259 - val_acc: 0.8324
Epoch 86/100
712/712 [==============================] - 0s 145us/step - loss: 0.1402 - acc: 0.9354 - val_loss: 1.3523 - val_acc: 0.8268
Epoch 87/100
712/712 [==============================] - 0s 143us/step - loss: 0.1365 - acc: 0.9438 - val_loss: 1.3747 - val_acc: 0.8268
Epoch 88/100
712/712 [==============================] - 0s 157us/step - loss: 0.1435 - acc: 0.9368 - val_loss: 1.3599 - val_acc: 0.8268
Epoch 89/100
712/712 [==============================] - 0s 164us/step - loss: 0.1475 - acc: 0.9396 - val_loss: 1.3437 - val_acc: 0.8156
Epoch 90/100
712/712 [==============================] - 0s 164us/step - loss: 0.1455 - acc: 0.9382 - val_loss: 1.3961 - val_acc: 0.8268
Epoch 91/100
712/712 [==============================] - 0s 126us/step - loss: 0.1408 - acc: 0.9396 - val_loss: 1.3744 - val_acc: 0.8324
Epoch 92/100
712/712 [==============================] - 0s 146us/step - loss: 0.1407 - acc: 0.9396 - val_loss: 1.3664 - val_acc: 0.8212
Epoch 93/100
712/712 [==============================] - 0s 160us/step - loss: 0.1364 - acc: 0.9410 - val_loss: 1.3762 - val_acc: 0.8212
Epoch 94/100
712/712 [==============================] - 0s 132us/step - loss: 0.1375 - acc: 0.9382 - val_loss: 1.3821 - val_acc: 0.8212
Epoch 95/100
712/712 [==============================] - 0s 135us/step - loss: 0.1390 - acc: 0.9438 - val_loss: 1.3849 - val_acc: 0.8324
Epoch 96/100
712/712 [==============================] - 0s 138us/step - loss: 0.1514 - acc: 0.9410 - val_loss: 1.3296 - val_acc: 0.8045
Epoch 97/100
712/712 [==============================] - 0s 156us/step - loss: 0.1894 - acc: 0.9115 - val_loss: 1.3332 - val_acc: 0.8380
Epoch 98/100
712/712 [==============================] - 0s 163us/step - loss: 0.1644 - acc: 0.9298 - val_loss: 1.3954 - val_acc: 0.8436
Epoch 99/100
712/712 [==============================] - 0s 150us/step - loss: 0.1570 - acc: 0.9284 - val_loss: 1.3220 - val_acc: 0.8324
Epoch 100/100
712/712 [==============================] - 0s 122us/step - loss: 0.1841 - acc: 0.9354 - val_loss: 1.4637 - val_acc: 0.8156

#### Test_data set

In [26]:
test_data = pd.read_csv(r'D:\Kaggle\test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [27]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [28]:
age_mode = test_data['Age'].mode()
test_data['Age'].fillna(age_mode[0],inplace = True)

In [29]:
test_data['Sex']= sex_le.transform(test_data['Sex'])
test_data['Embarked'] = Embarked_le.transform(test_data['Embarked'])

In [30]:
x_test = test_data.drop(['PassengerId','Cabin','Ticket','Name'],axis=1)

In [31]:
x_test=model_scale.transform(x_test)

In [32]:
y_pred=titanic.predict_classes(x_test)

C:\Users\Administrator\Anaconda3\envs\TensorFlow\lib\site-packages\tensorflow\python\keras\engine\sequential.py:278: RuntimeWarning: invalid value encountered in greater
  return (proba > 0.5).astype('int32')

In [33]:
y_pred

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1]])

In [34]:
test_data['Survived'] = y_pred

In [35]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,1,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,2,0
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,1,0
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,2,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,2,0

In [36]:
titanic_test = test_data[['PassengerId','Survived']]

In [37]:
titanic_test.to_csv('titanic_sub.csv',index = False)

##### =======================================================================================================================